$color-primary: #bc3721;
$color-secondary: #bc672d;
$color-focus: green;
$color-bg: #111;
$color-text: white;
$color-mute: lightgrey;
$color-divider: white;

.nojs {
  display: none;
}

body {
  background: $color-bg;
  color: $color-text;
  margin: 0;
  padding: 1em;
  font-family: "Product Sans", sans-serif;
  line-height: 1.4;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-secondary;
  }
}

code {
  font-size: 140%;
}

hr {
  border: 1px solid $color-divider;
  width: 20em;
}

header {
  text-align: center;
  h1, h2 {
    margin: 0;
  }
  img {
    width: 100px;
  }
}

nav {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 1em 0;
  a {
    margin: 0 0.5em;
    padding: 0.5em 0;
  }
}

nav.pagination {
  margin: 1rem;
  font-size: 1.7rem;
  text-align: center;

  a {
    margin: 0.5rem;

    &.active {
      color: $color-focus;
    }
  }
}

section {
  max-width: 800px;
  padding-top: 1em;
  margin: auto;
  .list {
    max-width: 500px;
    text-align: center;
    margin: auto;
  }
  &#index {
    ul {
      list-style: none;
      padding: 0;
    }

    dl {
      dt {
        margin-top: 1em;
        font-weight: bold;
      }
      dd {
        margin: 0;
      }
    }
  }
}

footer {
  text-align: center;
  font-size: 0.7em;
  margin-top: 10em;
}

.icon {
  font-size: 1.15rem;
  margin: 0.2rem;
}

.post {
  margin-top: 1rem;
  margin-bottom: 1rem;

  h2.post-title {
    margin: 0rem;
  }

  .post-meta {
    margin-bottom: 0.5rem;
    span {
      margin-right: 1.5rem;
    }
  }
}

.search-container {
  text-align: center;
  #search {
    outline: none;
    color: $color-text;
    background: $color-bg;
    padding: 0.4rem;
    margin: 0.2rem;
    border-radius: 3px;
    width: 14rem;
    border-color: $color-bg;
    border-style: double;
    &:focus {
      border-color: $color-focus;
    }
    &::placeholder {
      text-align: center;
    }
  }

  .search-results__item {
    margin: 0.5rem;
  }
}

.markdown {
  img {
    display: block;
    width: 100%;
    max-width: 30rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    // <em> sibling of an <img> is its legend
    & ~ em {
      display: block;
      text-align: center;
    }
    // <br> sibling of an <img> is just forced markdown line-break, but shouldn't display if CSS is enabled
    & ~ br {
      display: none;
    }
  }

  .footnote-definition {
    p {
      display: inline-block;
    }
  }

  pre {
    code {
      overflow: auto;
      display: block;
      font-size: 110%;
      padding: 0.5rem;
    }
  }

  table {
    width: max-content;
    max-width: 100%;
    border-collapse: collapse;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.3rem;
      border: 1px solid $color-mute;
    }

    tr {
      background-color: $color-bg;

      &:nth-child(2n) {
        background-color: $color-divider;
      }
    }
  }
}

.fc-view {
  background: white;
  color: black;
}
