{% extends "base.html" %}

{% block content %}
    <h1>Tags ({{ terms | length }})</h1>
    <hr>
    <section style="text-align: center;">
        ·
        {% for tag in terms %}
            <a href="{{ get_taxonomy_url(kind='tags', name=tag.name) }}">
                <span style="font-size: 1.{{ tag.pages | length - 1 }}rem">{{ tag.name }}<sup>{{ tag.pages | length }}</sup></span>
            </a> ·
        {% endfor %}
    </section>
{% endblock content %}
