{% extends "base.html" %}

{% block rss %}
    {% set rss_path = "tags/" ~ term.name ~ "/atom.xml" %}
    <link rel="alternate"
          type="application/atom+xml"
          title="{{ config.title }} - {{ term.name }}"
          href="{{ get_url(path=rss_path, trailing_slash=false) }}">
{% endblock rss %}

{% block content %}
    <h1>{{ term.name | capitalize }}</h1>
    <section>
        <div>
            <div>
                <div>
                    {% if paginator %}
                        {% set pages = paginator.pages %}
                    {% else %}
                        {% set pages = term.pages %}
                    {% endif %}

                    {% for page in pages %}
                        <hr>
                        {% include "include/page.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
