<article class="page">
    <h2 class="page-title">
        <a href="{{ page.permalink | safe }}">{{ page.title | markdown | safe }}</a>
    </h2>
    <div class="page-meta">
        <span><i class="icon icofont-ui-calendar"></i>
            <em>{{ page.date }}</em>
        </span>
        {% if page.taxonomies["tags"] %}
            <span><i class="icon icofont-tags"></i>
                {% for tag in page.taxonomies["tags"] %}
                    <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
                {% endfor %}
            </span>
        {% endif %}

        {% if page.extra["events"] %}
            <ul>
            {% for event in page.extra["events"] %}
                <li>
                Le {{ event.start | date(format="%A", locale="fr_FR") }}, de {{ event.start | date(format="%Hh%M", locale="fr_FR") }} à {{ event.end | date(format="%Hh%M", locale="fr_FR") }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
</div>
{% if not page_hide_description %}<div>{{ page.description | markdown | safe }}</div>{% endif %}
</article>
