<!DOCTYPE html>
<html lang="en">
    <head>
        {%- block head -%}
            <meta charset="utf-8">
            <meta name="viewport"
                  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


            <meta name="author" content="{{ config.extra.author }}" />
            <meta name="description"
                  content="{{ config.title }} - {{ config.description }}"/>
            {% block rss %}
                <link rel="alternate"
                      type="application/atom+xml"
                      href="{{ get_url(path="atom.xml", trailing_slash=false) }}"
                      title="{{ config.title }}"/>
            {% endblock %}
            <meta property="og:title" content="{{ config.title }}" />
            <meta name="twitter:title" content="{{ config.title }}" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{{ config.base_url | safe }}" />
            <meta name="twitter:card" content="summary" />
            <meta property="og:updated_time" content="{{ now() }}" />

            <title>{{ config.title }}</title>

            <link rel="stylesheet" href="{{ get_url(path="style.css") }}" />
            <link rel="stylesheet" href="{{ get_url(path="icofont.min.css") }}" />

            <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="favicon-32x32.png") }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="favicon-16x16.png") }}">
        {%- endblock -%}
    </head>
    <body>
        <nav class="main_menu">
            {% for item in config.extra.external_links %}
                <a href="{{ item.path | replace(from='$BASE_URL', to=config.base_url) | safe }}"
                   target="_blank">{{ item.name }}</a>
            {%- endfor %}
        </nav>
        <header>
            <div class="header">
                <img alt="Mon de l'École Lionel Oudart - pensée parole action" title="Mon de l'École Lionel Oudart - pensée parole action" src="{{ get_url(path="mon.svg") }}" />
                <h1 class="title-main">
                    <a href="{{ config.base_url | safe }}" target="_self">{{ config.title }}</a>
                </h1>
                {# djlint:off #}
                <h2 class="title-sub">{{ config.description | safe }}</h2>
                {# djlint:on #}
            </div>
        </header>

        <div class="search-container nojs">
            <input id="search" type="search" placeholder="Rechercher 🔎">

            <div class="search-results">
                <div class="search-results__items"></div>
            </div>
        </div>

        <nav class="sub_menu">
            {% for item in config.extra.internal_links %}
                <a href="{{ get_url(path=item.path) }}" target="_self">{{ item.name }}</a>
            {% endfor %}
        </nav>

        <hr>

        <section>
            <div>
                {% block content %}{% endblock %}
            </div>
        </section>

        <footer>
            <p>
                Le contenu de ce site est sous licence <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0.</a>
                <br>
                <img alt="Creative Commons License" style="border-width:0" src="{{ get_url(path="cc-by-sa.png") }}" />
            </p>
            <p>
                <a href="{{ config.extra.source_code }}">Code source</a> | Propulsé par <a href="https://www.getzola.org" target="_blank">Zola</a>
            </p>
        </footer>

        <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
        <script type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
        <script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
        <script type=text/javascript>
        document.querySelectorAll(".nojs").forEach(function(el) {
            el.classList.remove("nojs");
        });
        document.onkeydown = function (e) {
            if (e.target.tagName == 'INPUT') { return }
            if (e.target.tagName == 'TEXTAREA') { return }
            if (e.target.tagName == 'SELECT') { return }
            if (e.key == '/') {
                document.getElementById("search").focus();
                return false;
            }
        };
        </script>
    </body>
</html>
