{% extends "base.html" %}

{% block head %}
    {{ super() }}
 
    <link href='{{ get_url(path="calendar/fullcalendar.css") }}'
          rel='stylesheet'/>
    <link href='{{ get_url(path="calendar/fullcalendar.print.css") }}'
          rel='stylesheet'
          media='print'/>
    <script src='{{ get_url(path="calendar/moment.min.js") }}'></script>
    <script src='{{ get_url(path="calendar/jquery.min.js") }}'></script>
    <script src='{{ get_url(path="calendar/fullcalendar.min.js") }}'></script><!-- minified version. for development, change to original one -->
    <!-- <script src='{{ get_url(path="calendar/fullcalendar.global.min.js") }}'></script> <!-- this is version 6.1.8, which is up to date as of May 2023 -->
    <script src='{{ get_url(path="calendar/ical.min.js") }}'></script><!-- minified version. for development, change to original one -->
    <script src='{{ get_url(path="calendar/ical_events.js") }}'></script>
    <script src='{{ get_url(path="calendar/ical_fullcalendar.js") }}'></script>
    <script src='{{ get_url(path="calendar/colorize_fullcalendar.js") }}'></script>

    <script>
calendars = [
    {"name": "Cours", "url": "/cours/calendrier.ics", "visible": true},
    {"name": "Stages", "url": "/stages/calendrier.ics", "visible": true},
]

function set_calendars() {
    var calendar_list = document.getElementById('calendar-list')
    var sources_url = [];
    for (i=0; i<calendar_list.children.length; i++) {
        var cal = calendar_list.children[i].firstChild;
        if (cal.checked) {
            calendar = calendars.find((el) => el.name == cal.id);
            sources_url.push(calendar.url);
        }
    }
    $('#calendar').fullCalendar('clearEventSources')
    set_ics_sources(sources_url);
}

$(document).ready(function() {
    $('#calendar').fullCalendar({
        header: {
            left: 'title',
            center: '',
            // right: 'month,agendaWeek,agendaDay' // we don't need week nor day views
            right: 'prev,today,next'
        },
        defaultView: 'month',
        defaultDate: null, // null means 'today'
        firstDay: 1,
        monthNames: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
        dayNames: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
        dayNamesShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
        allDayText: "journée entière",
        eventTimeFormat: "H:mm",
        height: 1100,
        buttonText: {
            prev: "précédent",
            next: "suivant",
            prevYear: "année précédente",
            nextYear: "année suivante",
            year: 'année',
            today: 'aujourd\'hui',
            month: 'mois',
            week: 'semaine',
            day: 'jour'
        }

    })

    calendar_list = document.getElementById('calendar-list')
    for (i = 0; i<calendars.length; i++) {
        var calendar = calendars[i];
        calendar_list.insertAdjacentHTML('beforeend', '<li><input type="checkbox" id="' + calendar.name + '" checked="true" onchange="set_calendars()"/><label for="' + calendar.name + '">' + calendar.name + '</label></li>');
    }
    set_calendars();
})
    </script>
    <style>
    
#calendar {
    max-width: 900px;
    margin: 0 auto 2em;
}
#calendar-list {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
#calendar-list li {
    display: inline-block;
    margin: 0 1em;
}
#calendar-list li label {
    display: block;
}
#calendar-list input[type="checkbox"] {
    height: 2em;
    width: 2em;
}
    </style>
{% endblock head %}

{% block content %}
    <ul id="calendar-list"></ul>
    <div id="calendar"></div>
    <div class="markdown">{{ page.content | safe }}</div>
{% endblock content %}
