{% extends "base.html" %}

{% block content %}
    {% if page.content %}
        {% include "include/page.html" %}
        <div class="markdown">{{ page.content | safe }}</div>
    {% else %}

        <div style="text-align: center;">
            <img alt="" title="" src="{{ get_url(path="samurai.webp") }}" style="display: inline-block; width: 100%; max-width: 200px;" />
            <div style="display: inline-block; padding-left: 1em; text-align: left; vertical-align: top;">
                <p style="margin: 0;">Clubs affiliés&nbsp;:</p>
                <ul style="list-style: none; padding: 0em;">
                    <li>Gakko Dento</li>
                    <li>Hotaru No Yume Dojo</li>
                    <li>Mushin No Ryu</li>
                    <li>Vivre Autrement</li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock content %}
