{% extends "base.html" %}

{% block content %}
    {% if page %}
        {% set object = page %}
    {% elif section %}
        {% set object = section %}
    {% endif %}

    <div class="list">
        {% set parent = get_section(path=object.ancestors | last) %}
        <h1>{{ section.title }}</h1>

        {% if paginator %}
            {% set pages = paginator.pages %}
        {% else %}
            {% set pages = section.pages %}
        {% endif %}


        {% if section.subsections %}
            <div>
                {% for subsection in section.subsections | sort | reverse %}
                    <br>
                    {% set subsection = get_section(path=subsection) %}
                    <a href="{{ get_url(path=subsection.path) }}">{{ subsection.title }}</a>
                {% endfor %}
            </div>
        {% endif %}
        <div>
            {% for page in pages %}
                <p>
                    <a href="{{ get_url(path=page.path) }}">{{ page.title }}</a>
                </p>
            {% endfor %}
        </div>

        {% if paginator and paginator.number_pagers > 1 %}
            <nav class="pagination">
                {% if paginator.previous %}
                    <a href="{{ paginator.first | safe }}">‹‹</a>
                    <a href="{{ paginator.previous | safe }}">‹</a>
                {% endif %}
                {% for page in range(start=1, end=paginator.number_pagers + 1) %}
                    <a href="{{ paginator.base_url | safe }}{{ page }}"
                       {% if paginator.current_index == page %}class="active"{% endif %}>{{ page }}</a>
                {% endfor %}
                {% if paginator.next %}
                    <a href="{{ paginator.next | safe }}">›</a>
                    <a href="{{ paginator.last | safe }}">››</a>
                {% endif %}
            </nav>
        {% endif %}
    </div>

{% endblock content %}
